---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h1>Astro site</h1>
        <h1>about Me</h1>
        <h2>...and my learnning diary</h2>
        <p>First i want to share my learnning journey from <a href="https://docs.astro.build/en/getting-started/">Astro_Doc</a></p>
        <p>The site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
	</body>
</html>
