---
import "../styles/global.css"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"

const pageTitle = "About Me "

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};
const skills = ["HTML", "CSS", "JavaScript", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const textCase = "uppercase";
const fontWeight ="bold"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		
		<style define:vars={{skillColor,fontWeight,textCase}}>
			h1{
				color:blue;
				font-size:4rem,
			}
			.skill{
				color:var(--skillColor);
				fontWeight:var(--fontWeight);
				text-transform:var(--textCase);
			}
		</style>
	
	</head>
	<body>
		
        <h1>{pageTitle}</h1>
        <h2>My learnning diary</h2>
        <p>First i want to share my learnning journey from <a href="https://docs.astro.build/en/getting-started/">Astro_Doc</a></p>
        <p>The site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
		<p>My skill : </p>
		<ul>
			{skills.map((skill) =><li class="skill">{skill}</li>)}
		</ul>
		<hr>
		
		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

		<Navigation/>
		<Footer / >
	</body>
</html>
