<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body>
        <p><a href="/">&#128640 this is blog page</p>
        <p><a href="/about">&#128644 all for test</p>
        <p><a href="/blog">&#128658 this is exactily what i want</p>
        <p>&#128671 HaHa</p>
        <p>&#128676 maybe the wish will come true</p>
    </body>
</html>