---
import "../styles/global.css"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro" 
const pageTitle = "learnning Blog"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body>
        <p><a href="/">&#128640 this is blog page</p>
        <p><a href="/about">&#128644 all for test</p>
        <p><a href="/blog">&#128658 this is exactily what i want</p>
        <p>&#128671 HaHa</p>
        <p>&#128676 maybe the wish will come true</p>
        
        <ul>
            <li><a href="/posts/post-1">Basic Blog from Astro Part1</a></li>
            <li><a href="/posts/post-2">Basic Blog from Astro Part2</a></li>
            <li><a href="/posts/post-3">Basic Blog from Astro Part3</a></li>
        </ul>

        <Navigation />
        <Footer />
    </body>
</html>