---
import "../styles/global.css"
import BlogLayout from "../layouts/BlogLayout.astro";
import BlogPost from "../components/BlogPost.astro"
const allPosts = await Astro.glob('../posts/*.md')

const pageTitle = "learnning Blog"
---
<BlogLayout pageTitle={pageTitle}/>
    <p>post something i want </p>
        <ul>
            <ul>
                
                {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
              </ul>

        </ul>
    
</BlogLayout>