---

const {webPage,address1}   = Astro.props;
---
<div class="nav-links">
  <a href={`https://local:4321/${webPage}/`}>{address1}</a>
</div>
<a href="/">Home</a>
	<hr>
  	<a href="/about/">about</a>
	<hr>
  	<a href="/blog/">Blog</a>
  	<hr>
	<a href="/tags/">Tag</a>

<style>
    a{
        padding:0.5rem 1rem;
        color:gray;
        background-color:#150604;
        text-decoration: none;
    }
</style>